@import "sass/partials/text";

#jasperLetter {
	color: #337ab7;
}

#jasper {
	font-weight: 100;
}

.dropdown-item {
	padding: 3px 20px;
	@include no-select();
}

.top-row {
	margin-bottom: 10px;
}

.bottomless-table {
	margin-bottom: 0px;
}

.btn-left {
	float: left;	
}