.Open {
	background-color: #5bc0de;
	border-color: #46b8da;
}

.Resolving {
	background-color: #f0ad4e;
	border-color: #eea236;
}

.Resolved {
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.Closed {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}